<section id="contact" class="wrapper style1 special">
    <div class="inner">

        <h2 class="section-heading">Nous contacter</h2>
        <h4 class="section-subheading text-muted">N'hésitez pas à nous contacter si vous souhaitez nous rejoindre
          ou nous interpeller sur un sujet.</h4>
              <form name="sentMessage" id="contactForm" novalidate>
                  <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                          <div class="control-group form-group">
                              <input type="text" class="form-control" placeholder="Votre nom *" id="name" required data-validation-required-message="Veuillez entrer votre nom.">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group form-group">
                              <input type="email" class="form-control" placeholder="Votre email *" id="email" required data-validation-required-message="Veuillez entrer votre adresse email.">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group form-group">
                              <input type="tel" class="form-control" placeholder="Votre téléphone *" id="phone" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group form-group">
                              <textarea class="form-control" placeholder="Votre message *" id="message" required data-validation-required-message="Veuillez entrer un message."></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="clearfix"></div>
                          <div id="success"></div>
                          <button type="submit" class="btn btn-xl">Envoyer</button>
                      </div>


                  </div>
              </form>
        </div>
</section>
