<!-- Footer -->
<footer id="footer">
  <!-- <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul> -->
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    <li>Site : <a href="http://www.montaure-un-autre-regard.fr" target="_blank">Terres de Bord un autre regard</a>
    </li>
    <li> Facebook : <a target="_blank" href="https://www.facebook.com/Terres-de-Bord-Ensemble-107896720965345/?modal=admin_todo_tour" class="icon fa-facebook-square"
           ><span class="label">test</span></a></li>
    <li>Téléphone : 07.69.92.85.23</li>
  </ul>
</footer>
