<!-- One -->
  <section id="edito" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>Une liste pour l'avenir</h2>

        <div>
          <div class="row">
            <img class="img-responsive img-rounded" src="images/equipe/01.jpg" alt="">
            <img class="img-responsive img-rounded" src="images/equipe/02b.jpg" alt="">
          </div>

          <p></p>
          <p class="text-justify">
Chers habitants de Terres de Bord,
          </p>
          <p class="text-justify">
          Le 15 mars dernier, près de 58% des électeurs de la commune se sont déplacés pour s'exprimer sur le choix de leur future équipe municipale. Une participation 13 % supérieure à la moyenne nationale qui démontre votre attente. Vous avez crédité les listes de Patrice PHILIPPE et de Nicole LABICHE de 31,14% et 29,65 % des suffrages.
          </p>
          <p class="text-justify">
Plus de 60 % d'entre vous ont donc choisi de ne pas soutenir la liste de l’équipe sortante ce qui prouve votre profonde envie de changement.
Dès le 16 mars, Patrice PHILIPPE et Nicole LABICHE se sont rencontrés pour répondre à votre demande et ont conclu un accord de fusion.
          </p>
          <p class="text-justify">
Nous vous présentons donc une équipe rassemblée autour d'un projet qui reprend les éléments que nous vous avions proposés le 15 mars. Patrice PHILIPPE est à la tête de cette liste et, si vous nous faites confiance, Nicole LABICHE sera 1ère adjointe et représentera la commune au conseil d'agglomération. Nous avons posé des fondations, elles sont solides et nous permettront de mener à bien les affaires de la commune et d'avoir de l'ambition pour celle-ci.
          </p>
          <p class="text-justify">
Cette nouvelle équipe compétente, très représentative du territoire et de sa composition sociale, portera avec vous un projet fondé sur le "vivre ensemble" pour tous les hameaux et tous les habitants.
          </p>

        </div>
        <div class="box alt">
          <div class="row uniform 50%">
            <div class="12u"><span class="image fit"><img src="/images/equipe.jpg" alt="" /></span></div>
          </div>
        </div>
        <hr>
        <div>
          <p style="font-size:150%; font-weight:italic;">Le 28 Juin, VOTEZ Terres de Bord Ensemble </p>
        </div>
        <hr>

      </header>

      <!-- <ul class="icons major">
        <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
        <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
        <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
      </ul> -->
    </div>
  </section>
