<!-- Two -->
  <section id="reallytwo" class="wrapper alt style2">
    {% for post in site.posts %}
      {% if post.category contains 'programme-theme' %}
      <section class="spotlight">
        <div class="image"><img src="images/Pictures/{{ post.img }}" alt="" /></div><div class="content">
          <h2>{{ post.title }}</h2>
          {% if post.citation %}
          <blockquote class="blockquote">
           <p class="mb-0"> {{ post.citation }} </p>
           <footer class="blockquote-footer"><span style="color:white;"> {{ post.auteur }}</span></footer>
          </blockquote>
          {% endif %}
          {% if post.proposition %}
          {% assign proposition = site.propositions | where:"prop",post.proposition %}
            <ul class="actions vertical" style="width:50%">
              <li><a href="{{ proposition[0].url }}" class="button fit">Nos propositions</a></
              </li>
            </ul>
          {% endif %}
        </div>
      </section>
      {% endif %}
  {% endfor %}
  </section>
